*{padding: 0px; margin: 0px; box-sizing: border-box;}
.col{padding: 0px; margin: 0px;}
.row{padding: 0px; margin: 0px;}
.collapsible-btn{flex-direction: row;}
.bgcolor-ef{background: #efefef;}

#Navbar div{padding: 10px;}
#Landing{padding: 10px;}
#Landing div{padding: 10px 0px;}
#Footer{background: #efefef; padding: 25px 10px;}