*{padding: 0px; margin: 0px; box-sizing: border-box;}
.col{padding: 0px; margin: 0px;}
.row{padding: 0px; margin: 0px;}
.collapsible-btn{flex-direction: row;}
.bg-ff{background: #fff;}
.bg-ef{background: #efefef;}
.padding-0{padding: 0px; }
.padding-5{padding: 5px;}
.padding-10{padding: 10px;}
.studio-box{padding: 10px; }
.w-100{width: 100%;}

#Navbar div{padding: 10px;}
#Landing{padding: 10px;}
#Landing div{padding: 10px 0px;}
#Footer{background: #efefef; padding: 25px 10px;}